body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.content {
  margin: auto;
}

/*Splash*/
.splash-container {
  margin: auto;
  height: 100%;
  height: 1500px;
}

/*Splash parallax*/
.splash-background {
  margin: 0;
}

.splash-parallax-image img {
  top: 100px;
}

/*Splash Header*/
.splash-header-container {
  background: #fff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 10% 10px 10%;
  width: 80%;
}

.splash-header-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.splash-header-center img {
  width: 50px;
}

.splash-header-center h1 {
  font-size: 22px;
  margin: 0;
}

.splash-header-left {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}

.splash-header-right {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}

.splash-header-icons-container {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

/*Splash Middle*/
.splash-middle-container {
  height: 300px;
  background: transparent;
}

/*Splash content*/
.splash-content-container {
  margin: auto;
  background: #fff;
  height: 600px;
  display: flex;
  justify-content: space-around;
  padding: 20px 20% 20px 20%;
  width: 60%;
}

.splash-content-container img {
  width: 350px;
  height: 400px;
}

.splash-content-text {
  background: #f1f1f1;
  width: 350px;
  height: 400px;
  padding-left: 20px;
}
