/*.breweries-index-container {
  min-height: 54vh;
  width: 70%;
  margin: 0 auto;

  position: relative;
  top: 97px;
}*/

.breweries-index-container {
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 97px;
}

.breweries-index-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px
}

.breweries-index-top {
  width: 81%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.breweries-index-top img {
  height: auto;
  width: 350px;
}
