/*.breweries-index-container {
  min-height: 54vh;
  width: 70%;
  margin: 0 auto;

  position: relative;
  top: 97px;
}*/

.breweries-index-container {
  min-height: 100%;
  /* width: 80%; */
  margin: 0 auto;
  position: relative;
  top: 97px;
}

.breweries-index-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
}

.breweries-index-top {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  background: rgba(241, 212, 148, 0.77);
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(228, 200, 136);
}

.breweries-index-top img {
  height: auto;
  width: 350px;
}
