.splash-footer {
}

.footer-left {
  padding: 50px 0px 0px 170px;
}

.footer-left p {
  color: #fff;
  margin: 0;
  padding-bottom: 5px;
  cursor: pointer;
}

.footer-left p:hover {
  text-decoration: underline;
}
