.search-bar {
  position: relative;
  bottom: 10px;
}

.search-input {
  border: none;
  height: 35px;
  width: 300px;
  box-shadow: 0 20px 10px -10px rgba(200, 200, 200, .5);
  padding: 5px;
  padding-left: 10px;
  outline: 0;
  transition: box-shadow 1.2s ease-out;

}

.search-input:active {
  box-shadow: -10px 0 10px -10px rgba(76, 210, 77, 0.5);
}

.search-input:hover {
  box-shadow: -10px 0 10px -10px rgba(76, 210, 77, 0.5);
}

.search-button {
  border: none;
  height: 45px;
  width: 50px;
  position: relative;
  top: 1px;
  background: rgba(76, 210, 77, 0.73);
  font-size: 15px;
  cursor: pointer;
  color: white;
  /*box-shadow: -10px 0 10px -5px rgba(76, 210, 77, 0.5);*/
  /*transition: box-shadow .6s ease-out;*/
  outline: 0;
}

.search-button:active {
  box-shadow: -10px 0 10px -10px rgba(76, 210, 77, 0.5);
}
