input {
  border: 1px solid black;
  height: 25px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  padding-left: 10px;
}

.search-button {
  border: 1px solid black;
  height: 37px;
  width: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  right: 1px;
  top: 1px;
  background: rgba(210, 122, 76, 0.5);
  font-size: 15px;
  cursor: pointer;
}
