/*Splash*/
.splash-container {
  margin: auto;
  height: 100%;
}

/*Splash Middle*/
.splash-middle-container {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://67.media.tumblr.com/1a211896375ebf95b1cafc8813299132/tumblr_oay95aONyL1vns4tpo1_1280.png");
  background-size: contain;
}

.splash-middle-object {
  width: 550px;
  height: 200px;
  background: rgba(255, 255, 255, 0.59);
  border-radius: 10px;
  border: 1px solid rgba(171, 171, 171, 0.51);
  margin: 0px 10px 0px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-middle-content-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.splash-middle-content-top-symbols {

}

.splash-middle-content-top-symbols img {
  width: 43px;
}

.splash-middle-content-top-text {
  padding: 3px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 22px;
  position: relative;
  top: 4px;
}

/*Splash content / everything below the search */
.splash-content-container {
  background: #fff;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px 15% 20px 15%;
  min-width: 70%;
}

.splash-content-blocks {
  display: flex;
  justify-content: center;
}

.splash-content-top-quote {
  display: flex;
  justify-content: center;
}

.splash-content-text {
  background: #f1f1f1;
  height: 400px;
  width: 350px;
  padding-left: 20px;
  overflow: hidden;
  margin: 0;
  margin-left: 21px;
  position: relative;
}

.splash-content-text .splash-content-text-header {
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 96px;
  font-size: 22px;
}

.splash-content-blocks img {
  width: 350px;
  height: 400px;
}

.splash-content-image {
}

.splash-content-blocks .splash-content-text img {
  margin-top: 10px;
  width: 93%;
  height: 53px;
}
